.container {
  height: 100%;
  display: grid;
  grid-template-areas: "title";
  align-items: center;
  justify-items: center;

  background: url(../../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  
  color: white;

  .title{
    grid-area: title;
    h1 {margin: 0;}
  }
}
